/* – Dùng để tạo biến chung, toàn cục cho trang web */
$color-red: red;
$color-white: white;
$color-text: #555555;
$color-text: #9a9a9a;
$border-color: #f1f1f1;

* {
	text-decoration: none;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}



@keyframes textmenu {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}

	100% {
		opacity: 1;
		transform: translateX(10%);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateX(-6%);
	}

	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes avatar {
	0% {
		opacity: 0;
		transform: translateX(-5%);
	}

	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes hiddenON {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes textBegin {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes colortext {
	0% {
		color: #7c4dff;
	}

	50% {
		color: #e4def5;
	}

	100% {
		color: #c7b6f8;
	}
}

/*=============================================
=           mouse scroll            =
=============================================*/
/* width */
::-webkit-scrollbar {
	width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f3f3f300;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(255, 254, 254, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.007);
}

/*=====  End of scroll  ======*/

/*=============================================
=            centertop            =
=============================================*/

.centertop {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/*=====  End of centertop  ======*/

/*=============================================
=            animation header content            =
=============================================*/

@keyframes animationheadercontent {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*=====  End of animation header content  ======*/
/*=============================================
=            animation header content            =
=============================================*/

@keyframes animationoutheader {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/*=====  End of animation header content  ======*/