@import "./global";

/* – Để dành viết CSS cho việc lên bố cục cho website như chia cột. */
.lead__menu {
	width: 15%;
	height: 100vh;
	position: fixed;
	right: 0;
	background-image: linear-gradient(to bottom left, #d6caf8, #f1edfa);
	opacity: 0;
	animation: hiddenON 1s 16s linear forwards;

	&--top {
		height: 20.333333%;
		display: flex;
		justify-content: center;
		align-items: center;

		&-logo {
			border: 2px solid white;
			height: 40%;
			border-radius: 10px;
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			margin: 0;
		}

		&-text {
			font-weight: 100;
			font-size: 30px;
			color: white;
		}
	}

	&--middle {
		height: calc(100% - (17.333333% * 2));
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 50px;

		&-list>li {
			color: #6632f5;
			animation: textmenu 1s 17s linear forwards;
			opacity: 0;
			font-size: 1rem;
		}
	}

	&--last {
		height: 22.333333%;
		display: flex;
		justify-content: space-evenly;

		&-logo {
			.logo {
				filter: invert(101) sepia(85) saturate(2) hue-rotate(366deg);
				animation: hiddenON 1s 17s linear forwards;
				opacity: 0;

			}
		}
	}
}

.content__main {
	width: 85%;
	height: 100vh;
	overflow: auto;
	position: absolute;
	left: 0;

	&--head {
		height: 100vh;
		display: flex;
		background-image: linear-gradient(left bottom, rgba(190, 176, 230, 0.623), white);
		opacity: 0;
		animation: hiddenON 1.5s 0.5s linear forwards;

		&--left {
			width: 70%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&-box-1 {
				height: 70vh;
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.text__name-user {
					z-index: 1;
					font-size: 3rem;
					color: #8556f3cb;
					line-height: 50px;
					font-weight: 900;
					text-shadow: -4px -2px 1px #d4c7fcb4;
					animation: appear 1s 16s ease-in forwards alternate;
					opacity: 0;

					.text__name-user-under {
						text-decoration: underline;
					}
				}

				//avatar
				.img__avatar {
					right: 5%;
					top: 10%;
					position: absolute;
					height: 80%;
					animation: avatar 1s 18s linear forwards;
					opacity: 0;
				}
			}
		}

		&--right {
			width: 30%;
			height: 100vh;
		}
	}

	// body
	&--body {

		// about
		&-about {
			background-image: url(../img/Wallpapers/d.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			filter: brightness(20%);
			filter: contrast(75%);

			// about top
			&-top {
				width: 100%;
				height: 65vh;
				display: flex;
				box-sizing: border-box;

				// about top left
				&-left {
					width: 50%;
					height: 100%;

					// about top left box-1
					&-box-1 {
						width: 50%;
						height: 75%;
						border-radius: 20px;
						display: flex;
						align-items: center;

						.content__main--body-about-top-left-box-1-box {
							width: 60%;
							height: 50px;
							background-color: rgb(255, 255, 255);
							border-radius: 2px;
							letter-spacing: -5px;
							margin-bottom: 60%;

							pre {
								font-size: 4rem;
								font-weight: 300;
								color: #6d6d6d;
								text-shadow: rgba(194, 194, 194, 0.589) 1px 2px 5px;
								margin-left: 2rem;
							}
						}
					}
				}

				// about top right
				&-right {
					width: 25%;
					height: 100%;

					h1 {
						font-size: 65rem;
						position: relative;
						margin: 0;
						padding: 0;
						top: -40%;
						left: 30%;
						font-family: "Geo", sans-serif;
						color: #00000010;
						z-index: 1;
					}
				}
			}

			// about bottom
			&-bottom {
				width: 100%;
				height: 35vh;
				display: flex;

				// about bottom left
				&-left {
					border-radius: 2px;
					align-items: center;
					display: flex;
					line-height: 30px;
					justify-content: center;
					position: relative;
					top: -20vh;
					left: 5vh;
					box-shadow: 2px 4px 5px #8080806e;

					img {
						max-width: 100%;
						position: relative;
						top: -25%;
						box-shadow: 2px 4px 5px #8080806e;

						left: 0;
						height: 60vh;
					}
				}

				// about bottom right
				&-right {
					width: 55%;
					height: 100%;
					position: relative;
					border-radius: 2px;

					&-box-1 {
						position: absolute;
						width: 100%;
						height: 60vh;
						top: -117.5%;
						margin-left: 10px;
						right: 5%;
						left: 6%;
						background-color: rgba(255, 255, 255, 0.637);
						border-radius: 5px;
						display: flex;
						box-shadow: 2px 4px 5px #8080806e;

						align-items: center;

						&-text {
							font-size: 1.3rem;
							font-weight: 300;
							width: 90%;
							margin-left: 40px;
							text-shadow: #8e8d928f 1px 2px 3px;
							line-height: 30px;
							text-align: left;
							color: #504f53;
						}
					}

					&-box-2 {
						width: 50%;
						height: 23vh;
						background-color: rgb(255, 255, 255);
						position: absolute;
						display: flex;
						flex-direction: column;
						box-shadow: 2px 4px 5px #8080806e;
						bottom: 0;
						right: 0;
						top: 20%;

						h1 {
							color: #504f53;
							font-size: 1.2rem;
							text-shadow: #8e8d928f 1px 1px 3px;
							font-weight: 300;
							text-align: center;
							margin-top: 10%;
						}

						&-3 {
							display: flex;
							justify-content: center;
							align-items: center;
							height: 100%;

							&-left {
								width: 50%;
								height: 100%;
								display: flex;
								justify-content: center;
								align-items: center;

								h3 {
									color: #504f53;
									color: #504f53;
									font-size: 1.5rem;
									font-weight: 300;
									text-align: center;
									font-family: "Raleway", sans-serif;
									font-family: "Satisfy", cursive;
								}
							}

							&-right {
								width: 50%;
								height: 100%;
								display: flex;
								justify-content: center;
								align-items: center;

								img {
									max-width: 100%;
									height: 20%;
									object-fit: cover;
								}
							}
						}
					}
				}
			}
		}

		// skill
		&-skill {
			width: 100%;
			height: 100vh;
			display: flex;

			&-left {
				width: 100%;
				height: 100vh;
				background-image: url(../img/Wallpapers/l.jpg);
				background-size: cover;
				background-repeat: no-repeat;

				&-top {
					width: 100%;
					height: 20vh;
					position: relative;

					&-skill {
						position: absolute;
						width: 20%;
						height: 47px;
						bottom: 15%;
						left: 0px;

						pre {
							font-size: 3.5rem;
							color: #6d6d6d;
							text-shadow: rgba(194, 194, 194, 0.589) 1px 2px 5px;
							margin-left: 2rem;
							font-weight: 300;
						}
					}

				}

				&-bottom {
					width: 100%;
					height: 80vh;
					display: flex;
					justify-content: center;
					align-items: center;

					&-center {
						width: 90%;
						height: 85%;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 20px;

						h1 {
							font-weight: 300;
							font-size: 2rem;
							color: #6d6d6d;

						}

						h3 {
							font-weight: 300;
							font-size: 1.4rem;
							color: #6d6d6d;
						}

						&-left {
							width: 50%;
							height: 100%;
							background-color: rgba(160, 160, 160, 0.308);
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							text-align: left;
							padding: 5%;
						}

						&-right {
							width: 50%;
							height: 100%;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							text-align: left;
							background-color: rgba(160, 160, 160, 0.308);
							padding-bottom: 10%;
						}
					}


				}
			}


		}

		.how-title {
			font-weight: 300;
			font-size: 1.7rem;
			color: #6d6d6d;
			margin-top: 30%;
		}

		.wrapper {
			width: 400px;
			font-family: 'Roboto', sans-serif;
			margin: 0 auto;
		}

		.skill {
			margin-bottom: 35px;
			position: relative;
			overflow-x: hidden;

		}

		.skill>p {
			font-size: 18px;
			font-weight: 700;
			color: #1a1716;
			margin: 0;
		}

		.skill:before {
			width: 100%;
			height: 5px;
			content: "";
			display: block;
			position: absolute;
			background: #959595;
			bottom: 0;
		}

		.skill-bar {
			width: 100%;
			height: 5px;
			background: #fcb251;
			display: block;
			position: relative;
		}

		/* SKILL 1 */
		.skill1 {
			width: 80%;

		}

		.skill-bar span {
			position: absolute;
			border-top: 5px solid #f4392f;
			top: -30px;
			padding: 0;
			font-size: 18px;
			padding: 3px 0;
			font-weight: 500;
		}

		.skill-bar {
			position: relative;

		}

		.skill1 .skill-count1 {
			right: 0;
		}

		/* SKILL 2 */
		.skill2 {
			width: 75%;
		}

		.skill2 .skill-count2 {
			right: 0;
		}

		/* SKILL 3 */
		.skill3 {
			width: 70%;
		}

		.skill3 .skill-count3 {
			right: 0;
		}

		/* SKILL 4 */
		.skill4 {
			width: 85%
		}

		.skill4 .skill-count4 {
			right: 0;
		}

		/* SKILL 5 */
		.skill5 {
			width: 60%;
		}

		.skill5 .skill-count5 {
			right: 0;
		}

		/* SKILL 6 */
		.skill6 {
			width: 80%
		}

		.skill6 .skill-count6 {
			right: 0;
		}

		/* GITHUB SOURCE STYLE  */
		.github-source {
			float: right;
			display: block;
			color: #fff;
			margin: 0 20px;
			position: relative;
			z-index: 999999;
			top: 0;
		}

		.github-source i {
			font-size: 50px;
			color: #000
		}

		// project
		&-project {
			background-color: #fff;
			width: 100%;
			height: 100vh;

			// project top
			&-top {
				width: 100%;
				height: 30vh;
				background-color: rgb(0, 255, 0);
				@extend.centertop;
			}

			//  project bottom
			&-bottom {
				width: 100%;
				height: 70vh;
				background-color: red;
				display: flex;

				// bottom left
				&-left {
					width: 20%;
					height: 100%;
					background-color: rgb(20, 24, 20);
				}

				// bottom center
				&-center {
					width: 60%;
					height: 100%;
					background-color: rgb(0, 195, 255);

					&-top {
						width: 100%;
						height: 50%;
						background-color: rgb(240, 114, 30);
						display: flex;

						&-left {
							width: 40%;
							height: 100%;
							background-color: rgb(230, 77, 77);
						}

						&-right {
							width: 60%;
							height: 100%;
							background-color: rgb(109, 204, 121);
						}
					}

					&-bottom {
						width: 100%;
						height: 50%;
						background-color: rgb(255, 0, 98);
						display: flex;

						&-left {
							width: 50%;
							height: 100%;
							background-color: rgb(77, 148, 230);
							display: flex;

							&-left {
								width: 50%;
								height: 100%;
								background-color: rgb(71, 89, 109);
							}

							&-right {
								width: 50%;
								height: 100%;
								background-color: rgb(114, 75, 77);
							}
						}

						&-right {
							width: 50%;
							height: 100%;
							background-color: rgb(204, 109, 180);
							display: flex;

							&-left {
								width: 50%;
								height: 100%;
								background-color: rgb(241, 190, 192);
							}

							&-right {
								width: 50%;
								height: 100%;
								background-color: rgb(164, 205, 224);
							}
						}
					}
				}

				// bottom right
				&-right {
					width: 20%;
					height: 100%;
					background-color: rgb(247, 0, 255);
				}
			}
		}

		// contact
		&-contact {
			width: 100%;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: linear-gradient(to bottom left, #dddddd, #e3e3e36c);

			&-center {
				width: 96%;
				height: 95vh;
				background-color: #E0E0E0;
				position: relative;
				background-image: url(../img/Wallpapers/k.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				box-shadow: 8px 10px 17px rgba(0, 0, 0, 0.123);
				background-position-x: -50px;
				background-position-y: -30px;

				&-title {
					width: 31.5%;
					background-color: rgba(255, 255, 255, 0.5);
					border-radius: 2px;
					height: 49px;
					margin-top: 7%;

					pre {
						font-size: 4rem;
						color: #6d6d6d;
						text-shadow: rgba(194, 194, 194, 0.589) 1px 2px 5px;
						letter-spacing: -1px;
						margin-left: 3rem;
						font-weight: 300;
						margin-top: 10%;
					}

				}

				&-top {
					position: absolute;
					bottom: 0;
					right: 0;
					width: 70%;
					height: 80%;

					.ontent__main--body-contact-center-top-after {
						width: 100px;
						background-color: #abb8a4bb;
						height: 130px;
						position: absolute;
						right: 1px;
						top: 31px;
						display: flex;
						justify-content: center;
						align-items: center;

						i {
							transform: scale(2);
							color: #ffffffbe;

						}

						&:hover {
							background-color: #abb8a4;
							transform: scale(1.1);

						}
					}


					&-box {
						height: 95%;
						width: 100%;
						float: right;
						margin-top: 3.6%;
						border: 1px solid;
						display: flex;

						&-left {
							width: 50%;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							position: relative;
							padding: 5%;
							background-color: rgba(255, 255, 255, 0.322);
							border-right: 1px solid;

							h1 {
								color: #504f53e0;
								font-weight: 300;
								text-shadow: 3px 3px 5px #77777781;
								font-size: 2.3rem;
							}

							h3 {
								color: #504f53;
								font-weight: 300;
								font-size: 1.1rem;
								text-shadow: 3px 3px 5px #6d6d6d81;

							}

							&-input {
								width: 100%;

								input {
									width: 100%;
									height: 10vh;
									background-color: transparent;
									outline: none;
									border: none;


									&::placeholder {
										color: #504f53;
										border-bottom: 2px solid #6d6d6da1;
										padding-bottom: 10px;
									}
								}


							}

							&-send {
								width: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								background-color: rgba(0, 162, 255, 0.281);
								margin-top: 5%;
								height: 6vh;
								border-radius: 5px;
								font-weight: 300;
								font-size: 1.05rem;
								color: rgba(0, 0, 0, 0.63);

								h3 {
									font-weight: 300;
									font-size: 1rem;
									color: rgb(255, 255, 255);
								}





								&:hover {
									background-color: rgba(0, 162, 255, 0.493);

								}
							}

						}

						&-right {
							width: 50%;
							height: 100%;
							background-color: rgba(255, 255, 255, 0.322);
							line-height: 2p6x;
							padding: 5%;

							h1 {
								color: #504f53e0;
								font-weight: 300;
								text-shadow: 3px 3px 5px #77777781;
								margin-top: 49px;
								font-size: 2.3rem;
							}

							h3 {
								color: #504f53;
								font-weight: 300;
								font-size: 1.1rem;
								text-shadow: 3px 3px 5px #6d6d6d81;
							}
						}


					}

				}
			}
		}
	}

	&--foot {
		height: 50vh;
		width: 100%;
		display: block;
		padding: 0;
		background-color: #E9E8E6;

		&-box {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			&-Services {
				height: 30vh;

				h1 {
					font-size: 2rem;
					font-weight: 300;
					color: #191919;
				}

				h3 {
					font-size: 1.05rem;
					font-weight: 300;
					margin: 0;
					padding: 0;
					color: #191919;
					margin-bottom: 10px;
				}
			}

			&-About {
				height: 30vh;

				h1 {
					font-size: 2rem;
					font-weight: 300;
					color: #191919;
				}

				h3 {
					font-size: 1.05rem;
					font-weight: 300;
					margin: 0;
					padding: 0;
					color: #191919;
					margin-bottom: 10px;
				}
			}

			&-Careers {
				height: 30vh;

				h1 {
					font-size: 2rem;
					font-weight: 300;
					color: #191919;
				}

				h3 {
					font-size: 1.05rem;
					font-weight: 300;
					margin: 0;
					padding: 0;
					color: #191919;
					margin-bottom: 10px;
				}
			}


			&-Network {
				height: 10vh;

				&-icon {
					width: 140px;
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				.logox {
					transform: scale(1.2);
					margin: 9px;
					transform: translateX(-12px);
				}

				.lead__menu--last-logos {}

				h3 {
					font-size: 1.1rem;
					font-weight: 300;
					margin: 0;
					padding: 0;
					color: #191919;
				}
			}
		}

	}
}

.begin__align {
	background-color: #191919;
	max-width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;

	&-text {
		font-size: 4.2rem;
		animation: textBegin 3.3s 1s ease forwards alternate;
		color: white;
		opacity: 0;
	}

	&-text-1 {
		font-size: 1rem;
		animation: textBegin 3.3s 5.8s ease forwards alternate;
		opacity: 0;
		color: white;
	}

	&-text-2 {
		font-size: 2rem;
		z-index: 1;
		animation: textBegin 4.7s 9.9s ease forwards alternate;
		opacity: 0;
		position: absolute;
		color: white;
	}
}

.begins {
	display: none;
}

//